h1 {
    color: #07113A;
    padding-bottom: 50px;
}

h4 {
    color: rgb(236, 231, 231);
}

.div-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    width: 100px;
}

.main-container {
    border-radius: 4px;
    background: #1e2020;
    box-shadow: rgb(51, 45, 45) 10px 5px;
}

.accepted {
    display: flex;
    justify-content: center;
    background: rgb(77, 175, 82);
    margin: 50px;
}

.accepted-color {
    padding-top: 2%;
    margin-bottom:2%;
}